body {
    align-content: center;
}

.forminput {
    margin: 5% 30% 0% 30%;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 35%;
}



input {
    margin-bottom: 5%;
    align-content: center;
    text-align: center;
    border-radius: 1vmax;
    border-color: transparent; 
    height: 24%;
}

input[type="date"] {
    display: block;
    text-align: center;
    width: 85%;
}

.radioBtn {
    margin: 10%;
    align-content: left;
}

p:nth-child(1) {
    text-align: left;
    margin-left: 30% ;
    font-family: 'Noto Sans';
    font-weight: bold;
    font-size: 180%;
}

p.forminput {
    text-align: center;
}