body {
    align-content: center;
}

.forminput {
    z-index: 2;
    margin: 5% 30% 0% 33%;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 35%;
}



input,
input[type="date"] {
    display: block;
    width: 75%;
    margin-bottom: 8%;
    align-content: center;
    text-align: left;
    text-decoration-color: rgba(240, 248, 255, 0.363);
    text-indent: 5%;
    border-radius: 1vmax;
    border-style: double;
    border-color: rgb(173, 173, 173);
    height: 24%;
}

input::placeholder {
    opacity: 70%;
    text-indent: 5%;
    text-align: left;
}


.radioBtn {
    margin: 10%;
    align-content: left;
}

p:nth-child(1) {
    text-align: left;
    margin-left: 30%;
    font-family: 'Noto Sans';
    font-weight: bold;
    font-size: 180%;
}

p.forminput {
    text-align: center;
}

.submitBtn {
    z-index: -1;
    align-content: bottom;
    width: 100%;
    margin-top: 78%;
    margin-left: 87%;
    border-radius: 1vmax;
    border-style: none;
}

@media (max-width: 768px) {
    .forminput {
        margin-left: 5%;
        width: 90%;
        min-width: unset;
    }

    p:nth-child(1) {
        margin-left: 0;
        text-align: center;
        font-size: 150%;
    }

    .submitBtn {
        margin-left: 0;
        width: 100%;
    }
}